<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854907673396-90rie3nb813uqo86cp003aimep1cmt1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854907673396-90rie3nb813uqo86cp003aimep1cmt1v</string>
	<key>API_KEY</key>
	<string>AIzaSyA7x9JaL_l6xI1i2SpK74DnWBt7VzFkxT0</string>
	<key>GCM_SENDER_ID</key>
	<string>854907673396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-da25a</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-da25a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854907673396:ios:13f656f6e6112851f66361</string>
</dict>
</plist>